<!DOCTYPE html>
<html>
<head>
	<environment names="Development">
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</environment>
</head>
<body class="grid">
	@{Html.RenderPartial("_SvgIconsPartial");}

	<header>
		<section>
			<div class="logoSquircle"></div>
			<div class="logoSquircle squircle1"></div>
			<div class="logoSquircle squircle2"></div>
			<p class="logoTitle">SpaceYYZ</p>
		</section>

		<span>your one stop shop for Space Operations</span>

		@await Component.InvokeAsync("Login")
	</header>
	
	@{
		Func<string, string> getTabClass = tabname => 
			ViewData["ActiveTab"] == tabname ? "active-tab" : "inactive-tab";
	}

	<section style="display: flex">
		@await Component.InvokeAsync("Navigation")

		<div class="view">
			@RenderBody()
		</div>
	</section>
	@RenderSection("scripts", required: false)
</body>
</html>
