<!DOCTYPE html>
<html>
<head>
	<environment names="Development">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
</head>
<body class="grid">
	<header>
		<section>
			<div class="logoSquircle"></div>
			<div class="logoSquircle squircle1"></div>
			<div class="logoSquircle squircle2"></div>
			<p class="logoTitle">SpaceYYZ</p>
		</section>

		<span>your one stop shop for Space Operations</span>
	</header>
	
	@{
		Func<string, string> getTabClass = tabname => 
			ViewData["ActiveTab"] == tabname ? "active-tab" : "inactive-tab";
	}

	<nav>
		<ul>
			<li class=@getTabClass("Home")><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li class=@getTabClass("Schedule")><a asp-controller="Schedule" asp-action="Index">Schedule</a></li>
		</ul>
	</nav>

	<div class="view">
		@RenderBody()
	</div>
</body>
</html>
