<nav>
	<ul>
		<li><a asp-controller="Home" asp-action="Index">Home</a></li>
		<!--<li><a asp-controller="Administration" asp-action="Index">Administration</a></li>
		-->
		<li><a asp-controller="Administration" asp-action="Index">Users</a></li>
		<li><a asp-controller="Administration" asp-action="Roles">Roles</a></li>
	</ul>
</nav>
