<nav class="controllerNav">
	<ul>
		<li class="@ViewBag.getControllerTabClass("Engines")">
			<svg class="icon"><use xlink:href="#icon-flask"></use></svg>
			<a asp-controller="Design" asp-action="Engines">Engines</a>
		</li>
	</ul>
</nav>
