<h1>Schedule</h1>

<nav>
	<ul>
		<li><a asp-contorller="Schedule" asp-action="NewFlight">New Flight</a></li>
		<li><a asp-controller="Schedule" asp-action="FlightStatus">Flight Status</a></li>
	</ul>
</nav>
