@model IEnumerable<SpaceYYZ.Models.AdministrationViewModels.RoleViewModel>

<article>
	<section>
		<a asp-controller="Administration" asp-action="CreateRole">Create Role</a> 
		<table>
			<tr>
				<th>Name</th>
				<th>Number of users</th>
				<th>Description</th>
			</tr>


			@foreach(var role in Model)
			{
				<tr>
					<td>@role.Name</td>
					<td class="numberColumn">@role.UsersAssigned</td>
					<td>@role.Description</td>
				</tr>
			}

		</table>
	</section>
</article>
