<section>
	<p>SpaceYYZ is an ASP.NET Core application I created to learn about backend development and the ASP.NET Core framework, as well as getting experience with .Net Core on Linux. It is the online management app for a fictional space transport company. It currently uses:</p>
	<ul>
		<li>ASP.NET Core 1.1.0</li>
		<li>Entity Framework</li>
		<li>jQuery</li>
	</ul>
	<p>Planned:</p>
	<ul>
		<li>Typescript</li>
		<li>PostCSS</li>
	</ul>
</section>
