@model SpaceYYZ.Models.AdministrationViewModels.CreateRoleViewModel

<section>
	<form asp-controller="Administration" asp-action="CreateRole" method="post">
		<div class="form-group">
			<label asp-for="Name" class="col-2"></label>
			<input asp-for="Name"/>
			<span asp-validation-for="Name" class="invalid-value"></span>
		</div>

		<div class="form-group">
			<label asp-for="Description" class="col-2"></label>
			<textarea asp-for="Description"></textarea>
		</div>

		<button type="submit" class="offset-col-1">Create role</button>
	</form>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ClientValidationPartial");}
}
