/* responsive 12 column grid
 * */

.grid {
	margin: 40px auto;
	max-width: 1200px;
	width: 100%;
}

.row {
	width: 100%;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.offset-col-1 {
	left: 8.33%;
	position: relative;
}

.offset-col-2 {
	left: 16.66%;
	position: relative;
}

.offset-col-3 {
	left: 25%;
	position: relative;
}

.offset-col-4 {
	left: 33.33%;
	position: relative;
}

.offset-col-5 {
	left: 41.66%;
	position: relative;
}

.offset-col-6 {
	left: 50%;
	position: relative;
}

.offset-col-7 {
	left: 58.33%;
	position: relative;
}

.offset-col-8 {
	left: 66.66%;
	position: relative;
}

.offset-col-9 {
	left: 75%;
	position: relative;
}

.offset-col-10 {
	left: 83.33%;
	position: relative;
}

.offset-col-11 {
	left: 91.66%;
	position: relative;
}

.offset-col-12 {
	left: 100%;
	position: relative;
}


/* forms
 * */

form {
	margin-left: 20px;
}

.miniform {
	margin-left: 0px;
}

form > p {
	font-size: 18pt;
}

.form-group {
	display: flex;
	width: 100%;
}

.form-group > label {
	flex: 0 0 auto;
}

.form-group:not(:last-child) {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	/*margin-right: 20px;*/
	text-align: right;
}

input, select, button {
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-right: 5px;
}

/* main header elements
 * */

header {
	display: flex;
	max-height: 50px;
}

header > span {
	font-style: italic;
	flex: 1 1 auto;
}

html, body {
	height: 100%;
	color: rgba(255, 255, 255, 0.8);
	background-color: #354545;
}

.logoTitle {
	font-size: 32pt;
	position: relative;
	top: -80px;
}

.logoSquircle {
	opacity: 0.4;
	background: #19b3fe;
	width: 500px;
	height: 500px;
	margin-left: -140px;
	margin-top: -500px;
	transform-origin: 49% 50%;
	border-radius: 79%;
	animation: logoTransforms 7000ms infinite cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 0;
}

.squircle1 {
	opacity: 0.55;
	background: #52bff3;
	transform-origin: 47% 50%;
	animation-delay: -3.5s;
}

.squircle2 {
	opacity: 0.55;
	background: #52bff3;
	margin-top: -470px;
	transform-origin: 47% 50%;
	animation-delay: -3.5s;
}

@keyframes logoTransforms {
	from {transform: rotate(0deg) rotateX(0deg)}
	50% {transform: rotate(180deg) rotateX(20deg)}
	to {transform: rotate(360deg) rotateX(0deg)}
}

/* nav elements
 * */
nav > ul {
	display: flex;
	list-style: none;
	padding: 0px;
}

nav > ul > li:not(:last-child) { 
	/*margin-right: 10px;*/
}

nav a {
	border: 3px outset #19b3f3;
	border-left: none;
	border-right: none;
	color: #19b3fe;
	font-size: 20pt;
	padding: 0px 10px;
	text-decoration: none;
}

.active-tab {
	background-color: teal;
}

/* RenderBody() view
 * */
.view {
	margin-left: 50px;
}

/* Schedule/NewFlight
 * */

.mission > section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.mission > section > form {
	flex: 1 1 auto;
	min-width: 380px;
}

.mission > p {
	flex: 1 1 auto;
}

/* links
 * */
a {
	color: #19b3fe;
}
