@model SignedInViewModel

<script>
	(function() {
		document.addEventListener("DOMContentLoaded", function () {

			var widget = document.getElementById("loginDropdownWidget");
			widget.addEventListener("click", function () {

				var forms = document.getElementById("loginWidgetForms");
				var current = forms.style.visibility;

				if (forms.style.visibility === "visible") {
					forms.style.visibility = "collapse";
					this.style.borderBottomRightRadius = "11px";
				}
				else {
					forms.style.visibility = "visible";
					this.style.borderBottomRightRadius = "0px";
				}

			}, false);
		});
	})();
</script>

<section class="loginWidget">
	<div class="loginWidgetMenu">
		<p>@Model.Username</p>
		<p id="loginDropdownWidget">*</p>
	</div>

	<div id="loginWidgetForms" style="visibility: collapse">

		<form asp-controller="Account" asp-action="SetCurrentRole" method="post">
			<label>Role</label>
			<select asp-for="CurrentRole" asp-items="Model.AvailableRoles"></select>
			<button type="submit">Set</button>
		</form>

		<form asp-controller="Account" asp-action="Logout" method="post">
			<button type="submit">Log out</button>
		</form>
	</div>
</section>
